$primary-color: #004AAD;
$light-color: #fff;
$dark-color: #000;

$dark-01: #0000004c;
$dark-02: #362b2b;

$blue-00: #C1DBF0;
$blue-01: #7b9fd7;
$blue-02: #327296;
$blue-100: #003a88;

$light-01: #ebebeb;

$red-01: #b30059;